@import "null.css";

/* ============================== */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap");

/* ============================== */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ============================== */

body {
	font-family: "Roboto Slab", serif;
	font-size: 20px;
	background-color: rgba(0, 255, 255, 0.3);
}

header,
footer {
	background-color: rgba(127, 255, 212, 0.6);
	min-height: 100px;
}

header {
	border-bottom: 3px solid black;
}

footer {
	border-top: 3px solid #000;
	text-align: center;
}

main {
	/* background-color: rgba(0, 255, 255, 0.3); */
}

.head {
	font-weight: 900;
	font-size: 46px;
	text-align: center;
	margin-bottom: 40px;
	padding-top: 15px;
}

.bgc {
	font-weight: 700;
	font-size: 28px;
	margin: 0px 0px 20px 20px;
}

.sub-bgc {
	margin: 0px 0px 20px 20px;
}

.text-block {
	margin: 0px 0px 20px 40px;
	color: gray;
}

.block-1 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: transparent;
}
.block-2 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: red;
}
.block-3 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: rgb(47, 31, 196);
}
.block-4 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: rgba(196, 31, 174, 0.479);
}

.block-5 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg");
}
.block-6 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(8, 89, 213, 1) 44%, rgba(0, 212, 255, 1) 100%);
}
.block-7 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(213, 8, 193, 1) 44%, rgba(0, 212, 255, 1) 100%);
}

.block-8 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg") repeat;
}
.block-9 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg") no-repeat;
}
.block-10 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg") repeat-x;
}
.block-11 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg") repeat-y;
}
.block-12 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg") space;
}
.block-13 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg") round;
}

.block-14 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg") 0 0 no-repeat;
}
.block-15 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg") 50% no-repeat;
}
.block-16 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg") 0 50% no-repeat;
}
.block-17 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg") 100% 100% no-repeat;
}
.block-18 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg") 30px 80px no-repeat;
}

.block-19 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots2.jpg") 0 0 no-repeat scroll;
}
.block-20 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots2.jpg") 0 0 no-repeat fixed;
}
.block-21 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;
	overflow: scroll;

	background: url("../img/pots2.jpg") 0 0 no-repeat local;
}

.block-22 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots2.jpg") 0 0 / auto auto no-repeat;
}
.block-23 {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots2.jpg") 0 0/100% auto no-repeat;
}
.block-24 {
	border: 3px solid black;
	width: 700px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots2.jpg") 0 0/100% auto no-repeat;
}
.block-25 {
	border: 3px solid black;
	width: 700px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots2.jpg") 0 0/100% 100% no-repeat;
}
.block-26 {
	border: 3px solid black;
	width: 700px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots2.jpg") 0 0 / contain no-repeat;
}
.block-27 {
	border: 3px solid black;
	width: 700px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots2.jpg") 0 0 / cover no-repeat;
}
.block-28 {
	border: 3px solid black;
	width: 700px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots2.jpg") 0 0/50px 50px no-repeat;
}

.block-29 {
	border: 3px solid black;
	width: 700px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: red url("../img/pots.jpg") no-repeat;
}
.block-30 {
	border: 3px solid black;
	width: 700px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg") left/40px no-repeat, url("../img/pots2.jpg") 0 0/100% 100% no-repeat;
}
.block-31 {
	border: 3px solid black;
	width: 700px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg") right/40px no-repeat, url("../img/pots.jpg") left/40px no-repeat,
		url("../img/pots2.jpg") 0 0/100% 100% no-repeat;
}
.block-32 {
	border: 3px solid black;
	width: 700px;
	height: 300px;
	margin: 0px 0px 20px 40px;

	background: url("../img/pots.jpg") 0 0/60px no-repeat, url("../img/pots.jpg") 100% 100%/60px no-repeat,
		url("../img/pots.jpg") 50% no-repeat, url("../img/pots2.jpg") 0 0/100% 100% no-repeat;
}

.button {
	display: inline-block;
	background-color: red;
	margin: 25px 0px 0px 0px;
	padding: 10px;
	color: black;
	font-weight: 900;
	font-size: 36px;
	border-radius: 30px;
	text-decoration: underline;
	outline: 5px dotted black;
	box-shadow: inset 0 0 20px black;
	box-shadow: 0 0 15px 10px red;
}
